.sqlQuestionView {
  color: white;
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
  flex: 2;
  height: 100%;
  max-height: 1300px;
  overflow-y: scroll;
  border-right: 1px solid #1a1b26;
  background-color: #0a0b16;
  min-width: 350px;
}