.sqltaskContainer {
  display: flex;
  color: #444444;
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex: 7;
  flex-direction: row;

}



@media (max-width: 700px) {
  .sqltaskContainer {
    flex-direction: column;

  }
}

.notificationDbBusy {
  position: absolute;
  width: 100%;
  color: black;
  background-color: yellow;
  z-index: 100;
  left: 0;
  top: 0;
  font-family: monospace;
  font-size: 15pt;
}